.dice-result__container {
  background-color: lighten(darkgreen, 50);
  border: 1px solid darkgreen;

  width: 5rem;
  height: 5rem;

  border-radius: 0.5rem;

  box-shadow: 0px 0px 0px 5px darken(darkgreen, 30);
}

.dice-result__eye {
  width: 1.25rem;
  height: 1.25rem;

  background-color: black;
  border-radius: 1rem;

  margin: 0.2rem;
}

.dice-result__one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-result__two {
  display: grid;
  align-items: center;
  justify-items: center;

  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-template-areas:
    'A .'
    '. B';

  div:first-child {
    grid-area: A;
  }
  div:last-child {
    grid-area: B;
  }
}

.dice-result__three {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  align-items: center;
  justify-items: center;

  grid-template-areas:
    'A . .'
    '. B .'
    '. . C';

  div:first-child {
    grid-area: A;
  }
  div:nth-child(2) {
    grid-area: B;
  }
  div:last-child {
    grid-area: C;
  }
}

.dice-result__four {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.dice-result__five {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  align-items: center;
  justify-items: center;

  grid-template-areas:
    'A . B'
    '. C .'
    'D . E';

  div:nth-child(1) {
    grid-area: A;
  }
  div:nth-child(2) {
    grid-area: B;
  }
  div:nth-child(3) {
    grid-area: C;
  }
  div:nth-child(4) {
    grid-area: D;
  }
  div:nth-child(5) {
    grid-area: E;
  }
}

.dice-result__six {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
